*{
    margin:0;
    box-sizing:border-box;
}

body{
    background:#000000;
    color:white;
    font-family:"Montserrat",sans-serif;
}

img {
    width: 80%;
    border-radius: 0.3rem;
}

.nav {
    background-color: rgb(3, 2, 2);
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    padding: 2px 2px 0 2px;
    align-items: center;
}

.logo {
    width: 51%;
}

.nav p {
    display: inline-block;
}

.sections ul {
    list-style: none;
    display: flex;
}

li a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

.hero-section {
    width: 100%;
    display: flex;
    margin-top: 4rem;
}

.littleInfo {
    flex: 1;
    /* padding-left: 10rem; */
}

.littleInfo h2 {
    padding-left: 10rem;
}

.littleInfo p {
    padding-left: 10rem;
    margin-top: 1.5rem;
}

.work {
    margin-left: 10rem;
    gap: 5rem;
}


.ayan {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.ayan img {
    width: 95%;
}